<!--The content below is only a placeholder and can be replaced.-->
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<form>
<div style="text-align:left" >
  <div class="container"> 
  <div class="jumbotron text-center">
  <h1>
     {{ title }}
     
  </h1>
  <router-outlet></router-outlet>
  </div>
</div>
</div>
<div class="container"> 
  <div class="jumbotron text-center">
    <router-outlet></router-outlet>
  </div>
</div>
<form>
  <div class="fixed-top" >
    Case Study by Somya Burman
  </div>
  